@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

.logo {
    display: flex;
    align-items: center;

}

.logo > h1 {
    font-family: 'Gajraj One';
    font-size: 25px;
    margin: 0;
    transform: rotate(-5deg);
}

.container {
    gap: 20px;
}

.navbar_link {
    text-decoration: none;
    color: rgb(102, 102, 102);
    transition: .2s;
}

.navbar_link:hover {
    color: black;
}

.navbar-nav {
    display: flex;
    gap: 15px;
}

.catalag {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.catalog_sortirovka {
    width: 19%;
    height: 70vh;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(128, 128, 128, 0.4);
}

.catalog {
    width: 80%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog_item {
    width: 30%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(128, 128, 128, 0.4);
    gap: 10px;
    box-shadow: 3px 3px 3px gray;
    position: relative;
}

.catalog_item > img {
    width: 100%;
    height: 200px;
    border-radius: 4px;
}

.catalog_item_price {
    text-align: end;
}

.catalog_item_a {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.abouts {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: white;
    border-radius: 5px;
    gap: 50px;
    box-shadow: 1px 1px 4px rgb(77, 77, 77);
}

.abouts_ {
    width: 100%;
    display: flex;
    gap: 50px;
}

.abouts_slaider {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
}

.abouts_slaider_text {
    font-size: 30px;
    font-weight: 600;
}

.carousel-item.active {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.carousel-item {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.carousel-item > img {
    width: 70% !important;
    height: 80vh;
}

.singl_item {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.singl_item_img {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.singl_item_img > img {
    width: 100%;
    height: 200px;
}

.singl_item_text {
    width: 75%;
    padding-top: 20px;
}


.form-admin {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-admin > p {
    position: absolute;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-weight: 700;
    background-color: greenyellow;
    border-radius: 5px;
}

.form-admin > form {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.form-add {
    width: 11%;
}

.form-add > input {
    width: 100%;
    border-radius: 5px;
    border: solid 1px black;
    height: 100%;
    padding-left: 5px;
}

.form-add > input:focus {
    outline: none;
}

.about {
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
    background-color: white;
    display: flex;
    padding: 10% 5% 5% 5%;
    align-items: center;
    gap: 25px;
    position: relative;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.349);
}

.about > p {
    position: absolute;
    top: 5%;
    left: 5%;
    font-weight: 700;
    font-size: 30px;
}

.about_{
    width: 50%;
}

.about_ > img {
    width: 100%;
    height: 100%;
}


































